@model KursachOliaMarina.Models.CanteenContext
@{
    ViewBag.Title = "CreateZakaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CurrentMenu</h2>
<div>
<form align = "center">
        @foreach (var d in ViewBag.SelectedDishes)
            {
            <option data-tokens="@d.Id" value="@d.Id">
                <bold> </bold>@d.DishName
                <bold> | </bold>@d.Price
                <bold> | </bold>@d.Weight
                
            </option>
                }

                <p><a class="btn btn-default" @Html.ActionLink("Create Order", "CreateZakaz", "Users")</a></p>
</form>

</div>