<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("СТОЛОВКА", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Топ 10 блюд", "Index", "Home")</li>
                    <li>@Html.ActionLink("Топ 10 клиентов", "Index", "Home")</li>
                    <li>@Html.ActionLink("Меню", "Index", "Home")</li>

                </ul>
                 <ul class="nav navbar-nav navbar-right">
                 <div class="menu">
                <ul>
                    <li><a class="hide">Личный кабинет</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Мои заказы", "Index", "Users")</li>
                            <li>@Html.ActionLink("Информация", "Information", "Users")</li>
                        </ul>
                    </li>
                </ul>
                <li><a id = "text-menu" href="/Admins/Logout">Выход </a></li>
            </div> 
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
