@using KursachOliaMarina.Models
@model KursachOliaMarina.Models.Dish

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
<fieldset>
    <legend>Информация о студенте</legend>

    <div class="display-label"><b>Название блюда</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DishName)
    </div>

    <div class="display-label"><b>Категория</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label"><b>Цена, грн</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label"><b>Вес, г</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label"><b>Приметка</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label"><b>Популярность</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Popularity)
    </div>

    <div class="display-label"><b>Состав: </b></div>
    <ul>
        @foreach (Ingredient c in Model.Ingredients)
        {
            <li>@c.IngredientName</li>
        }
    </ul>

</fieldset>

