@using KursachOliaMarina.Models
@model Dish
@{
    ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
 
 
@using (Html.BeginForm()) {
 @Html.AntiForgeryToken()
    <fieldset>
        <legend>Dish</legend>
 
        @Html.HiddenFor(model => model.Id)
 
        <div class="editor-label"><b>Название блюда</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DishName)
        </div>
 
        <div class="editor-label"><b>Категория</b></div>
        <label class="radio-inline">@Html.RadioButtonFor(model => model.Category, "1", new { @checked = "checked" })Первое</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Category, "2")Второе(гарнир или основное блюдо)</label>
            <br />
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Category, "3")Салат</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Category, "4")Сладкое</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Category, "4")Напиток</label>
            <br />

        <div class="editor-label"><b>Цена, грн</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
        </div>

        <div class="editor-label"><b>Вес, г</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
        </div>

        <div class="editor-label"><b>Приметка</b></div>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Note, "fish", new { @checked = "checked" })Рыба</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Note, "meat")Мясо</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Note, "milk")Молоко</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Note, "herring")Селедка</label>
            <label class="radio-inline">@Html.RadioButtonFor(model => model.Note, "no")Нет</label>
            <br />

        <div class="editor-label"><b>Популярность</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Popularity)
        </div>



        <div class="editor-label"><b>Состав: </b></div>
        @foreach (Ingredient c in ViewBag.Ingredients)
        {
            <input type="checkbox" name="usedIngredients" value="@c.Id"
               @(Model.Ingredients.Contains(c) ? "checked=\"checked\"" : "") />@c.IngredientName <br />
        }
 
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}